h2{
	text-align: center;
}
body{
	align-content: center;
	background: #d3c4a3;
}

.one{
	margin: 0 auto;
	align:center;
	width:1000px;
	min-height:500px;
	padding:30px;
	color: black;
	background-color: #ffffff;
}

footer{
	text-align: center;
	padding-top: 30px;
}
